<form id="{{ field.formid }}"
      action="{{ field.action }}"
      method="{{ field.method }}"
      enctype="multipart/form-data"
      accept-charset="utf-8"
      class="form {{ field.css_class or '' }} js-form"
      {% if inline_editing %}
      data-inline-editing="true"
      {% endif %}>
  <input type="hidden" name="__formid__" value="{{ field.formid }}" />

  <div class="form__backdrop js-form-backdrop"></div>

  {%- for f in field.children -%}
    {{ field.renderer(field.widget.item_template, field=f, cstruct=cstruct.get(f.name, null)) }}
  {% endfor -%}

  <div class="form-actions">
    <div class="form-actions-message">
      {%- if field.footer %}{{ field.footer | safe }}{% endif -%}
    </div>
    {% if feature('activity_pages') %}
    <div class="u-stretch"></div>
    {% endif %}
    <div class="form-actions-buttons js-form-buttons">
      {%- for button in field.buttons -%}
        <button id="{{ field.formid + button.name }}"
                name="{{ button.name }}"
                type="{{ button.type }}"
                class="form__btn btn{% if button.css_class %} {{ button.css_class }}{% endif %} js-form-btn"
                value="{{ _(button.value) }}"
                {%- if button.disabled -%}
                disabled="disabled"
                {% endif -%}
                >
        {{ _(button.title) }}
        </button>
        <button class="btn btn--cancel is-hidden js-cancel-btn">Cancel</button>
      {% endfor -%}
    </div>
  </div>

  {#
    The default deform templates are ajax capable. I've removed that code here
    for the sake of clarity. If we need to put it back it can be found in
    deform_jinja2:bootstrap_templates/form.jinja2.
  #}
</form>
